@{
    ViewBag.Title = "About";
}
<h2>Information om MAPMA</h2>
<h3>MAPMA blev grundlagt i 2020 af Ole Olsen.</h3>
<h4>Så MAPMA er et sprit nyt firma som glæder sig til at servicerer dig, så du får den bedste oplevelse i escaperoom.</h4>
<h3>Ole havde en vision for at dele glæden ved escaperooms med hele Danmark.</h3>
<h4>Ole prøvede selv et escaperoom i Tyskland, dette tændte en gnist i Ole, som nu vil dele escaperoom oplevelsen med dig!</h4>

<p>Lav en booking når du har registreret dig på siden</p>
<p>Ellers kan du kontakte MAPMA på telefon: 61267389 og mail: MAPMA@ESC.com</p>
