@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>
<h3>MAPMA's kontaktinformationer</h3>

<address>
    Escaperoomvej 9<br />
    9000 Aalborg<br />
    <abbr title="¨Telefon:">Tel:</abbr>
    9126738958694
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>