@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen til MAPMA</h1>
    <p class="lead">MAPMA tilbyder dig den ultimative escaperoom oplevelse!</p>
    <p>Du skal først registrer dig på siden, før du kan oprette en booking til din næste escaperoom oplevelse.</p>
    <p><a href="https://localhost:44330/Customer/FormulaRegister" class="btn btn-primary btn-lg">Lav en bruger her! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Har du allerede en bruger? </h2>
        <p>
            Så kan du logge ind her!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44330/Customer/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Escaperooms</h2>
        <p>Se MAPMA's udvalg af forskellige escaperooms.</p>
        <p><a class="btn btn-default" href="https://localhost:44330/EscapeRoom/GetAllEscapeRoom">Se dem her &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p>Har du problemer eller spørgsmål, eller vil du gerne lave en booking over telefonen? Så Kontakt os her.</p>
        <p><a class="btn btn-default" href="https://localhost:44330/Home/Contact">Kontaktoplysninger &raquo;</a></p>
    </div>
</div>