@model MAPMA_WebClient.EscRef.EscapeRoom
<style>

    textarea#description {
        float: right;
        max-height: 200px;
        min-height: 200px;
        min-width: 400px;
        max-width: 400px;
        border:hidden;     
    }
</style>
@{
    ViewBag.Title = "GetEscapeRoom";
}

<h2>GetEscapeRoom</h2>

<img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.EscapeRoom1.Image)" />
<textarea id="description" readonly>@ViewBag.EscapeRoom1.description</textarea>
<br />
<br />

 @Html.ActionLink("Lav en booking her", "CreateBooking", "Booking", new { id = ViewBag.EscapeRoom1.escapeRoomID }, new { @class = "BookingController" })

<br />


